@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.btn-nav-bar {
		@apply flex justify-center border-2 border-black;
	}

	.main-box {
		@apply container mx-auto border-black border-4 p-4 my-2 bg-white h-auto;
	}

	.drop-shadow-box-navbar {
		@apply absolute transition ease-in-out delay-100 h-10 w-10 bg-black translate-x-1 -translate-y-9 -z-10 group-hover:-translate-y-10 group-hover:translate-x-0;
	}

	.input-form-box {
		@apply transition ease-in-out delay-75 container mx-auto self-center pl-2 pb-1 bg-white border-b-slate-500 border-b-2;
	}

	.drop-shadow-box {
		@apply relative translate-x-1 translate-y-1 -z-10 h-10 w-28 bg-black transition delay-100 ease-in-out group-hover:translate-y-0 group-hover:translate-x-0  disabled:translate-x-0 disabled:-translate-y-0;
	}

	.btn {
		@apply absolute h-10 w-28 border-2 border-black text-white transition delay-100 ease-in-out hover:drop-shadow
	}

}