@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.btn {
		@apply flex justify-center border-2 border-black;
	}

	.main-box {
		@apply container mx-auto border-black border-4 p-4 my-2;
	}

	.drop-shaow-box-navbar {
		@apply absolute transition ease-in-out delay-100 h-10 w-10 bg-black translate-x-1 -translate-y-9 -z-10 group-hover:-translate-y-10 group-hover:translate-x-0
	}

}